<!--Footer-->
<footer id="landing-footer" class="clearfix">
  <div class="row clearfix">

    <div class="col-3">
        <p class="section-subtitle">
          <b>Adresimiz</b><br>
          Yahşi Mh., Kargı Cd., 48420<br>
          Ortakent yahşi<br>
          Bld./Bodrum/Muğla<br>
          Tel:
        </p>
    </div>
    <div class="col-3">
      <p class="section-subtitle text-right">
        <b>Bizi takip edin</b><br>
        <span><a href="https://www.facebook.com/profile.php?id=100041188725392"><img src="../assets/socialmedia-96.png" height=45px width=45px></a></span>
        <span><a href="https://www.instagram.com/kargi_sitesi"><img src="../assets/instagram-96.png" height=43px width=45px></a></span>
        <br>
        <br>
        Made by Batuhan Başoğlu
      </p>
    </div>
  </div>
</footer>
<!--End of Footer-->
