<!--Kurumsal-->
<aside id="kurumsal" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

    <div class="section-heading">
      <h3>HAKKIMIZDA</h3>
      <h2 class="section-title">Yönetim Kurulumuz</h2>
    </div>

    <!--Kurumsal-->
    <blockquote class="col-3 kurumsal classic">
      <img src="../assets/images/user-images/user-1.jpg" alt="User" />
      <p style="color:#808080">Yönetim Kurulu Başkanı</p>
      <footer>Kamuran Başoğlu</footer>
    </blockquote>
    <!-- End of Kurumsal-->

    <!--Kurumsal-->
    <blockquote class="col-3 kurumsal classic">
      <img src="../assets/images/user-images/user-2.jpg" alt="User" />
      <p style="color:#808080">Yönetim Kurulu Başkan Yardımcısı</p>
      <footer>Mahir Ataç</footer>
    </blockquote>
    <!-- End of Kurumsal-->

    <!--Kurumsal-->
    <blockquote class="col-3 kurumsal classic">
      <img src="../assets/images/user-images/user-3.jpg" alt="User" />
      <p style="color:#808080">Yönetim Kurulu Başkan Yardımcısı</p>
      <footer>Fatih Ertaş</footer>
    </blockquote>
    <!-- End of Kurumsal-->

    <!--Kurumsal-->
    <blockquote class="col-3 kurumsal classic">
      <img src="../assets/images/user-images/user-4.jpg" alt="User" />
      <p style="color:#808080">Denetçi</p>
      <footer>Nur Mollaoğlu</footer>
    </blockquote>
    <!-- End of Kurumsal-->
  </div>
  <div class="row clearfix">
    <div class="section-heading">
      <h2 class="section-title">Personellerimiz</h2>
    </div>
    <!--Kurumsal-->
    <blockquote class="col-3 kurumsal classic">
      <img src="../assets/images/user-images/user-5.jpg" alt="User" />
      <p style="color:#808080">Güvenlik</p>
      <footer>Yüksel Keskin</footer>
    </blockquote>
    <!-- End of Kurumsal-->

    <!--Kurumsal-->
    <blockquote class="col-3 kurumsal classic">
      <img src="../assets/images/user-images/user-6.jpg" alt="User" />
      <p style="color:#808080">Yarı Zamanlı Personel</p>
      <footer>Şengül Keskin</footer>
    </blockquote>
    <!-- End of Kurumsal-->
  </div>

</aside>
<!--End of Kurumsal-->