<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

    <div class="row clearfix">

      <div class="section-heading">
        <h1>Kargı Sitesi</h1>
        <h2></h2>
        <p class="section-subtitle-2">SEVGİLİ KOMŞULARIMIZ</p>
        <p class="section-subtitle-2">
          Bodrum, iklimi, denizi, ışığı ile huzurun kapısını bize açan belde. Pekçoğumuzunu büyük şehirlerin karmaşasından kaçıp sığındığı evlerimizin olduğu Kargı, Camel Beach ise ayrı bir alem.. Bölgenin en güzel denizi vahşi tabiatı, her anlamda başka yerlerde rastlanamayacak insan dokusuyla söylensek de kızsak da vazgeçemediğimiz.
          Muhteşem denizli üç koya açılan kıyıları, denize kavuşan dereleri, her mevsim şahane iklimi görüp; çorak yolu bile olmayan tepelere ev yapmayı hayal edenlerin o günkü şartlarda altyapısı, düzeni ile bir inanılmazı yarattıkları yer.
          Her iş yapan hata da yapabilir, doğaldır diye düşünürüz. Evler bazı bölgelerde bu kadar sıkışık olmasaydı , alt üst katlar yerine daha küçük ama müstakil evler olsaydı dediğimiz ama bazı şeylerin değişmesinin mümkün olmadığı ancak düzeltilebilineceğine inandığımız bölgenin en iyi yerleşimlerinden biri. 
          Eleştirdiğimiz, bakımsız, ileriye dönük bir planın varlığını hissedemememiz, hergeçengün çöktüğünü gözlemlediğimiz altyapı, işletmecilerin insafına bırakılmış kıyıları ile çaresiz, Sitemiz. Madem vazgeçemiyoruz beğenmediğimiz yanları düzeltmeye çalışalım elimizi taşın altına koymaktan korkmayalım dedik ve yola çıktık.
          Huzurlu yaşamak için komşuların haklarına saygılı, bir düzenin hüküm sürdüğü, kuralların hakları korumak için ve huzurun anahtarı olduğunu anlatma gayretindeyiz. Kuralların takipçisi olunduğunda kural çiğneyenlerin, eski alışkanlıkları sürdürmek isteyenlerin sesleri her nedense fazla duyulur. Ayrıcalık değil, genel menfaat ve huzurun öncelikli olarak hakim olacağının altını bir kez daha çizmekte fayda var. Kural çiğneyenlerin bilmesi gereken huzur için gereken kurallara herkes gibi onların da birgün ihtiyaç duyacağıdır. Bu anlamda iletişim en büyük eksiğimizdi. İş güç ve çaresiz sık sık yaptığımız genel kurulların ağır stresi ve iş yoğunluğu sebebi ile ihmale uğramış web sitemiz bundan böyle hizmet verecek.
          Yaplan işleri, yanlışları, gözlemlenen güzellikleri üyelerimizin mutlu günlerini , paylaşmak istedikleri bilgileri burada sizlerle paylaşacağız. Aidat ve hesap durumlarınıza sadece size ait şifre ile ulaşarak durum güncellemesi yapmanız, yapılan uygulama değişiklikleri hakkında bilgi sahibi olmanız mümkün olacak. Zaman içinde sitemizin sizlerin istediği doğrultuda hizmetleri vermesi yine sizlerin talebiyle oluşturulacaktır. Sizlerin beldemiz ile ilgili sunacağınız yapıcı eleştiri ve fikirlerinizden faydalanmaya gayret edeceğiz.
          Kargı Sitemiz sizlerin, bizlerin ve burada yaşayanlarındır. Birlikte olursak daha iyiye daha güzele ulaşmak Zor olmayacaktır.
          Kargı Sitesi web sayfasının hayırlı olmasını diliyor, hepinize şahsım, yönetim ve denetim kurullarımız adına sevgi ve saygılarımızı sunuyorum.
        </p>
        <br>
        <p class="section-subtitle-2">Kargı Sitesi Yönetim Kurulu Başkanı</p>
        <p class="section-subtitle-2">Kamuran Başoğlu</p>
      </div>

      <!--Call to Action-->
      <a href="/Hizmetlerimiz" class="button">Daha Fazla Bilgi</a>
      <!--End Call to Action-->

    </div>
  </div>
  <!--End of Row-->
</header>
