<!--Content Section-->
<div id="duyuru-1" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <div class="col-2">
      <div class="section-heading">
        <h2 class="section-title">COVID-19 Duyurusu</h2>
        <p class="section-subtitle">
          Covid-19 (Corona) virüsü ile etkin mücadele sağlanabilmesi, halkımızın ve personelimizin sağlığının
          korunabilmesi amacıyla birtakım tedbirler almak zorundayız.<br>
          <br>
          1- Ellerinizi sık sık su ve sabun ile en az 20 saniye boyunca ovarak yıkayın.<br>
          2- Soğuk algınlığı belirtileri gösteren kișilerle aranıza en az 3-4 adım mesafe koyun.<br>
          3- Öksürme veya hapșırma sırasında ağız ve burunu tek kullanımlık mendille kapatın. Mendil yoksa dirseğin
          iç kısmını kullanın.<br>
          4- Tokalașma, sarılma gibi yakın temaslardan kaçının.<br>
          5- Ellerinizle gözlerinize, ağzınıza ve burnunuza dokunmayın.<br>
          6- Yurt dıșı seyahatlerinizi iptal edin ya da erteleyin.<br>
          7- Yurt dıșından dönüște ilk 14 günü evinizde geçirin.<br>
          8- Bulunduğunuz ortamları sık sık havalandırın.<br>
          9- Kıyafetlerinizi 60-90OC’de normal deterjanla yıkayın.<br>
          10- Kapı kolları, armatürler, lavabolar gibi sık kullandığınız yüzeyleri su ve deterjanla her gün
          temizleyin.<br>
          11- Soğuk algınlığı belirtileriniz varsa yașlılar ve kronik hastalığı olanlarla temas etmeyin, maske
          takmadan dıșarı çıkmayın.<br>
          12- Havlu gibi kișisel eșyalarınızı ortak kullanmayın.<br>
          13- Bol sıvı tüketin, dengeli beslenin, uyku düzeninize dikkat edin.<br>
          14- Düșmeyen ateș, öksürük ve nefes darlığınız varsa, maske takarak bir sağlık kurulușuna bașvurun.
        </p>
      </div>
    </div>

    <div class="col-2">
      <img src="../assets/images/duyuru-images/Duyuru1-img.jpg" />
    </div>
  </div>
</div>
<!--End of Content Section-->