agm-map {
    height: 300px;
}

.fcf-form-wrap {
    max-width: 500px;
    padding: 30px;
    border-radius: 4px;
    background-color: #ffffff;
}

#fcf-form {
    background-color: #ffffff;
    color: #363636;
}

.button.is-link {
    background-color: #363636;
    border-color: transparent;
    color: #ffffff;
}

.button.is-link:hover {
    background-color: #808080;
    color: #ffffff;
    border-color: transparent;
}

.button.is-link[disabled] {
    background-color: #808080;
    border-color: transparent;
    box-shadow: none;
}

