<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-2">
      <div class="section-heading">
        <h3>HİZMETLERİMİZ</h3>
        <h2 class="section-title">Çalışma Saatleri</h2>
        <p class="section-subtitle">
          Sabah: 08.00-12.00<br>
          Öğlen: 13.00-17.00<br>
          Hafta Sonu (Cumartesi): 08.00-13.00
        </p>
        <br>
      </div>
    </div>

    <div class="col-3">
      <img src="../assets/images/hizmet-images/hizmet.png" alt="Landing Page" />
    </div>

    <div class="col-1">
      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-home fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Teknik Hizmetler</h4>
          <p>
            Bu kadroda çalışan personel; Kat maliklerimizin konutlarındaki su sayacına kadar olan arızalarda bakım ve
            onarımı, ortak alanlar ve
            site genelindeki elektrik, su ve kanalizasyon şebekesinde meydana gelen arızaların onarımlarıyla ilgili
            teknik servis hizmeti vermektedirler.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bus fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Ulaşım Hizmetleri </h4>
          <p>
            Yaz sezonunda; Yönetimce belirlenen saatlerde, site içi hizmet vermektedir. Ayrıca her gün Sahile Shuttle
            hizmeti verilmektedir.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-shield fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Güvenlik Hizmetleri</h4>
          <p>
            24 saat kesintisiz olarak verilen site koruma ve güvenlik hizmetleri, özel güvenlik şirketi aracılığı ile
            yürütülmektedir.
            Site kamera görüntülerinin izlenmesi, siteye gelenlerin geliş amacına göre yönlendirilmesi ve takibi gibi
            her türlü güvenlik hizmetleri;
            özel güvenlik şirketiyle yapılmış olan koruma ve güvenlik hizmet sözleşmesi, 5188 sayılı Kanun, ilgili
            yönetmelikler, güvenlik yönetmeliği ve
            görev talimatları çerçevesinde yürütülmektedir.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-sun-o fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Sahil ve Kumsal Hizmetleri</h4>
          <p>
            ...
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-pagelines fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Temizlik ve Genel Bahçe Hizmetleri</h4>
          <p>
            Site içi ara yolların süpürülmesi, sitenin genel ve ortak alanların temizliği, site içi bahçe atıklarının
            belirli günlerde toplanması,
            peyzaj çalışması yapılan alanlar, parklar ve ortak alanların budama ile ot temizlikleri, alt yapı
            arızalarının giderilmesi ve tamirat hizmetleri vermektedir.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tint fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Arıtma Tesisi ve Sulama Hizmetleri</h4>
          <p>
            Arıtma tesisinin düzenli ve kontrollü olarak çalışması, tesisin her türlü periyodik bakım-onarım
            çalışmalarının yapılması,
            arıtmadan çıkan arıtılmış atık suyun sulama havuzuna aktarılması, ortak alanların, parkların ve peyzaj
            çalışması yapılmış olan
            tüm alanların düzenli olarak sulanması ve sulama hatlarının kontrolü hizmetleridir.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="row-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bug fa-4x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>İlaçlama Hizmetleri</h4>
          <p>
            Tüm yıl boyunca rögar ve fosseptiklerin ilaçlanması, yaz sezonunda haftada 3 gün ULV ilaçlama yapılması, çöp
            bidonlarının ilaçlanması hizmetleridir.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->