<!--Duyurular Tables-->
<section id="duyurular" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h3>DUYURULAR</h3>
      <h2 class="section-title">Sizin için Duyurularımız</h2>
    </div>

    <!--Duyuru Block-->
    <div class="duyurular-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="duyurular-block-content">
        <h3>Duyuru #1</h3>
        <p class="duyurular-sub">01/01/2020</p>
        <div>
          <a href="/Duyurular/Duyuru1"
            class="wow fadeIn"><img [src]="imgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()"/></a>
        </div>
        <ul>
          <li><b>COVID-19 Duyurusu</b></li>
          <li></li>
        </ul>
        <a href="/Duyurular/Duyuru1" class="button">Daha Fazlası</a>
      </div>
    </div>
    <!--End Duyuru Block-->

    <!--Duyuru Block-->
    <div class="duyurular-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="duyurular-block-content">
        <h3>Duyuru #2</h3>
        <p class="duyurular-sub">01/01/2020</p>
        <div>
          <a href="/Duyurular/Duyuru2"
            class="wow fadeIn"><img [src]="imgSrc2" (mouseover)="onMouseOver2()" (mouseout)="onMouseOut2()"/></a>
        </div>
        <ul>
          <li><b>Duyuru İsmi</b></li>
          <li></li>
        </ul>
        <a href="/Duyurular/Duyuru2" class="button">Daha Fazlası</a>
      </div>
    </div>
    <!--End Duyuru Block-->

    <!--Duyuru Block-->
    <div class="duyurular-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="duyurular-block-content">
        <h3>Duyuru #3</h3>
        <p class="duyurular-sub">01/01/2020</p>
        <div>
          <a href="/Duyurular/Duyuru3"
            class="wow fadeIn"><img [src]="imgSrc3" (mouseover)="onMouseOver3()" (mouseout)="onMouseOut3()"/></a>
        </div>
        <ul>
          <li><b>Duyuru İsmi</b></li>
          <li></li>
        </ul>
        <a href="/Duyurular/Duyuru3" class="button">Daha Fazlası</a>
      </div>
    </div>
    <!--End Duyuru Block-->
  </div>
</section>
<!--End of Duyuru Tables-->